.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color:#FCECDD ;
    border-radius: 16px;
    height: 420px;
    gap: 20px;
}
.topPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.topPart h1{
    color: #FF7601 ;
    font-size: 1.5rem;
    
}
.topPart p{
    color:#222222 ;
    text-align: center;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 300;
}
.botemPart{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    
    
   
}
.botemPart img {
   
    width:170px ;
    height: 230px;
    border-radius: 16px;
    margin: 8px;
    transition: all 0.1s ease-out;
    
    
}
.botemPart img:hover{
    border: #FF7601;
    border-style: dashed;
    
    
}