.container {
    
    margin: auto;
    margin-top: 20px;
    
}
.parttwo{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.parttwo h1{
    color: #FF7601 ;
    font-size: 1.5rem;
}
.parttwo p{
    color:#222222 ;
    text-align: center;
    padding: 8px;
    font-size: 1.2rem;
 }